.form {
  display: flex;
  align-items: center;

  width: fit-content;
  height: 42px;
  border: 1px solid #ccc;
}

.inputForm {
  display: flex;
  align-items: center;
}

.form label {
  border: none;
  margin: 0;
  padding: 5px 30px 5px 15px;
  cursor: pointer;
}

.form label:hover {
  color: var(--active-color);
}

.form input {
  border: none;
  text-align: center;
  max-width: 30px;
}

.form input:focus,
.form input:hover {
  outline: none;
}

/* CSS bỏ mũi tên lên xuống của input */
.form input[type='number']::-webkit-inner-spin-button,
.form input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* CSS mũi tên */
.form svg {
  cursor: pointer;
}

/* CSS button */
.form button {
  font: inherit;
  font-weight: 300;

  background-color: var(--bg-main-color);
  color: var(--white);

  border: 1px solid var(--bg-main-color);
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

.form button:hover,
.form button:active {
  opacity: 0.8;
}

.form button:focus {
  outline: none;
}

@media (max-width: 576px) {
  .form {
    width: 100%;
    display: block;
  }

  .inputForm {
    justify-content: center;
  }

  .form label {
    display: none;
  }

  .form button {
    width: 100%;
  }
}
