.footer {
  background-color: #111;

  padding: 30px 0;
}

.footer a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.footer a:hover,
.footer a:focus {
  /* text-decoration: none; */
  color: var(--active-color);
}

.footer li {
  padding-bottom: 5px;
}

@media (max-width: 768px) {
  .footer {
    text-align: center;
  }
}
