:root {
  --bg-main-color: #111;
  --red: #f00;
  --green: #008009;
  --black: #000;
  --white: #fff;
  --gray: #ccc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--bg-main-color);
  color: var(--white);
}

/* CSS scroll bar */
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--gray);
  border-radius: 50px;
}

/* CSS cho img khi hover */
.animationScaleMovie {
  transition: transform 1s;
}

.animationScaleMovie:hover {
  transform: scale(1.1);
}

/* CSS error img */
.errorBannerMovie {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: var(--black);
  cursor: pointer;
}

/* CSS center */
.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Udemy css */
.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.focused {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.btn {
  text-decoration: none;
  background-color: teal;
  color: white;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  border: 1px solid teal;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #11acac;
  border-color: #11acac;
}

.btn--flat {
  cursor: pointer;
  font: inherit;
  color: teal;
  border: none;
  background-color: none;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
}

.btn--flat:hover,
.btn--flat:active {
  background-color: teal;
  color: white;
}
