:root {
  --bg-main-color: #111;
  --active-color: darkorange;
  --red: #f00;
  --green: #008009;
  --black: #000;
  --white: #fff;
  --gray: #ccc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: italic;

  background: var(--white);
  color: var(--black);
}

/* CSS scroll bar */
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--gray);
  border-radius: 50px;
}

/* CSS khi hover */
.main-animation {
  cursor: pointer;
  transition: all 500ms;
}

.main-animation:hover,
.main-animation:active,
.main-animation.active {
  opacity: 0.6;
}

/* CSS center */
.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
